<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js" type="text/javascript"></script>
    <script src="signalr/hubs"></script>
    <script src="~/scripts/moment.js" type="text/javascript"></script>
    <script src="~/scripts/livestamp.min.js" type="text/javascript"></script>    
</head>
<body>
    <h1 class="entry-title post-title h2 h1-sm" id="allConnections"></h1>
    <div class="container body-content">    
        @RenderBody()        
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>