body {
    padding-top: 50px;
    padding-bottom: 20px;   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;  
}

.chat li.left .chat-body p {
    color: #777777;  
    text-align:left
}

.chat li.right .chat-body p {
    color: #777777; 
    text-align:right
} 

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.panel-footer {
    width: calc(60%);
    margin-left: auto ;
    margin-right: auto ;
}

.panel-body {
    width: calc(60%);
    margin-left: auto ;
    margin-right: auto ; 
    overflow-y: scroll;
    height: 600px;
     
}

#messages {
    width: calc(60%);
    margin-left: auto ;
    margin-right: auto ;
}

#text-requiredUserName {
    width: 235px;
}

#allConnections {
    margin-left: 30px;
    word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}
